<div class="card">

    <div class="card-header"><h3>Add New Review</h3></div>

    <div class="card-body">

        <%= render 'form', review: @review %>

        <%= link_to 'Back', book_path(@book) %>
        
    </div>
</div>